<h1>Confirm your order</h1>

<h3>Pizzas:</h3>
    <ul>
        {% for pizza in cart.orderpizza_set.all %}
        <li>
            {{ pizza.name }} - {{ pizza.readable_price }} € <br />
            <span style="font-style: italic">Pizza Size </span>:
            {{ pizza.ordersize_set.get.name }} - {{ pizza.ordersize_set.get.readable_price }} € </li>
            {% if pizza.ordertopping_set.all %}
                <span style="font-style: italic">Extra toppings</span>: 
                <ul>
                    {% for topping in pizza.ordertopping_set.all %}
                    <li>{{ topping.name }} - {{ topping.readable_price }} € </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li> 
        {% endfor %}
    </ul>
    <p>Total: {{ total }} €</p>


<form action="{% url 'orders:place_order' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name" value="Your name" /> <br />
    <input type="text" name="addr" id="addr" value="Your Address" /> <br />

    <input type="submit" value="Confirm" />
</form>

Or <a href="{% url 'orders:menu' %}">Go back</a>
