<p>
<h1>{{ pizza.name }} - {{ size.name }}</h1>

<span style="font-style: italic">Price: {{ pizza.readable_price }} + {{ size.readable_price }} €</span>
</p>


<form action="{% url 'orders:push_on_cart' pizza.id size.id %}" method="post">
    {% csrf_token %}
    {% if available_toppings %}
    {% if size.allows_splitting %}
    Do you want to split the pizza in half? <br />
        {% for half_pizza in available_pizzas %}
        <input type="radio" name="half_pizza" id="pizza{{ forloop.counter }}" value="{{ half_pizza.id }}" />
        <label for="pizza{{ forloop.counter }}">{{ half_pizza.name }} </label> <br />
        {% endfor %}
    {% endif %}
    Do you want to select additional toppings?  <br />
    (You may select {{ size.max_toppings }} ) <br /><br />
        {% for topping in available_toppings %}
        <input type="checkbox" onclick="countCheckedBoxes(event)" name="topping{{ forloop.counter }}" id="topping{{ forloop.counter }}" value="{{ topping.id }}" />
            <label for="topping{{ forloop.counter }}">{{ topping.name }} - {{ topping.readable_price }} € </label></br />
        {% endfor %}
    {% else %}
        Sorry, we don't have any additional toppings.
    {% endif %}
    <input type="submit" value="Place on cart" />
</form>

<script>
    var checkboxes = [];
    var box = [];
    const maxAllowed = {{ size.max_toppings }};

    var getCheckboxes = function() {
        var inputs = document.getElementsByTagName('input');
        for (var i=0; i < inputs.length; i++) {
            if (inputs[i].getAttribute('type') == 'checkbox') {
                checkboxes.push(inputs[i]);
            }
        }
    };
    var countCheckedBoxes = function(e) {
        var myChosenElement = e.target || e.srcElement;
        if (myChosenElement.checked == false) {
            var pos = box.indexOf(myChosenElement);
            box.splice(pos, 1);
            disable();
        }
        if (box.length < maxAllowed) {
            if (myChosenElement.checked == true) {
                box.push(myChosenElement);
            }
            if (box.length == maxAllowed) {
                disable();
            }
        }
    };
    var disable = function() {
        if (box.length == maxAllowed) {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = true;
            }
            for (var i = 0; i < box.length; i++) {
                var pos = checkboxes.indexOf(box[i]);
                checkboxes[pos].disabled = false;
//                console.log('Enabled: '); //My debug stuff
//                console.log(checkboxes[pos]); //My debug stuff
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = false;
            }
        }
//        console.log('--------- NEW TRY ---------'); //My debug stuff

    };
    window.onload = function() {
        getCheckboxes();
    };
</script>